<style>
	
	p {
		font-family: sans-serif;
		font-size: 120%;
	}

	a {
		font-family: sans-serif;
		font-size: 110%;
	}

	pre {
		font-family: sans-serif;
		font-size: 120%;
	}
</style>

<p>

	<a href="{% url 'learning_logs:index' %}">Learning Log</a> -
	<a href="{% url 'learning_logs:topics' %}">Topics</a> -
	<a href="{% url 'notes:whatnotes' %}">Notes</a> -
	{% if user.is_authenticated %}
		Welcome, {{ user.username }}.
		<a href="{% url 'users:logout' %}" style="float: right;">Log out</a>
	{% else %}
		<a href="{% url 'users:register' %}">Register</a> -
		<a href="{% url 'users:login' %}">Log in</a>
	{% endif %}

</p>
<hr>
{% block content %}{% endblock content %}