{% extends "learning_logs/base.html" %}

{% block content %}
		
	<pre style="text-align: center; border-left : 20px powderblue; background-color: powderblue; padding: 15px; border-left-style: groove;">
		A Learning Log helps you keep track of your learning, for any topic you're learning about.

		This is a website for <span style="background-color: #ffffb3;"><small><del> students </del></small></span> <ins><b><small>anyone who wants to learn and keep track of their progress.</small></b></ins>
	</pre>

	<pre style="text-align: center; border-left : 20px #ffccdd; background-color: #ffccdd; padding: 15px; border-left-style: groove;">
		You can even maintain your <span style="background-color: #ffffb3;"><small><b> personal diary </b></small></span> here.

		Just add a new topic called My Diary/Dear Diary/Diary or any other name you want.
		
		As it is password protected, no one can access it except <b>you</b>.
	</pre>

	<pre style="text-align: center; border-left : 20px #f2e6ff; background-color: #f2e6ff; padding: 15px; border-left-style: groove;">
		<b>Why this website ?</b>
		
		Because,
		<small>
		<b>||</b> You can register with a username and a password of your choice. Only you can access your data.
		
		<b>||</b> We don't ask for your email or any other details, this is an <span style="background-color: #ffffb3;"> ad-free </span> website.

		<b>||</b> You can access the required documents, from the notes tab in the NavBar and you can <span style="background-color: #ffffb3;"> download </span> them too !!

		<b>||</b> We record and display the date and time after every entry for the ease of tracking your progress.

		<b>||</b> You can also <span style="background-color: #ffffb3;"> edit </span> your entries.

		<b>||</b> All you have to do is remember your username and password, <span style="background-color: #ffffb3;"> We'll take care of everything </span> else.

		</small>

		<b>Happy Learning !!!</b>
	</pre>
			

{% endblock content %}