{% extends 'learning_logs/base.html' %}

{% block content %}

<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
	<div class="dropdown">
		<p>Computer Organization</p>
		<div class="dropdown-content">
			<ul>
				<li><a href="https://drive.google.com/file/d/1YygUrWcPMHUfvvwAoOsc1hJuHAgOQVmb/view?usp=sharing" target="_blank">Module 1</a></li>
				<li><a href="https://drive.google.com/file/d/1HuTXcLN5xUbF9blr9fOkUhL2iG0pIEdM/view?usp=sharing" target="_blank">Module 2</a></li>
				<li><a href="https://drive.google.com/file/d/14SUQLNd06aKT3XrP73kY3e0nkMiC3dgf/view?usp=sharing" target="_blank">Module 3</a></li>
				<li><a href="https://drive.google.com/file/d/1Pkb6VaszGn55MgmTD9BQ7VpptuqnlM2W/view?usp=sharing" target="_blank">Module 4</a></li>
				<li><a href="https://drive.google.com/file/d/1e1iiI3SxuHoEQcrJUlZYMXT719fGxrK5/view?usp=sharing" target="_blank">Module 5</a></li>
			</ul>
		</div>
	</div>

	<hr>

	<div class="dropdown">
		<p>Data Structures with C</p>
		<div class="dropdown-content">
			<ul>
				<li><a href="https://drive.google.com/file/d/1zxWChDWtJfQu-P5dQnkVuMmEzTC7aunR/view?usp=sharing" target="_blank">Module 1 (written)</a></li>
				<li><a href="https://drive.google.com/file/d/1YpJQ1URjdgnAbQ0VbCfw_K3MPBSGXmO_/view?usp=sharing" target="_blank">Module 1 PPT</a></li>
				<li><a href="https://drive.google.com/file/d/1QSi1oHc3dDetM4GSYjd9iEQ6cKx0cnWq/view?usp=sharing" target="_blank">Module 2 (written)</a></li>
				<li><a href="https://drive.google.com/file/d/1010mWet30V_aLBjF6Y_oQPqO0pTzR2Zm/view?usp=sharing" target="_blank">Module 2 PPT</a></li>
				<li><a href="https://drive.google.com/file/d/1TEEzaGnTyPUtQEXw4atIPBtXigeiJNum/view?usp=sharing" target="_blank">Module 3 (written)</a></li>
				<li><a href="https://drive.google.com/file/d/1FBggmYr3EXiqtWRrJKbPOUc76PyYr5Ja/view?usp=sharing" target="_blank">Module 3 PPT</a></li>
				<li><a href="https://drive.google.com/file/d/1Cx24E-lXbArZpYKP930HA73P62wSQLL3/view?usp=sharing" target="_blank">Module 4 (written)</a></li>
				<li><a href="https://drive.google.com/file/d/1hqq2sGSHJaRipT7JrcgH2SVlwE51wP5R/view?usp=sharing" target="_blank">Module 4 PPT</a></li>
			</ul>
		</div>
	</div>

	<hr>

	<div class="dropdown">
		<p>Python</p>
		<div class="dropdown-content">
			<ul>
				<li><a href="https://drive.google.com/file/d/1v6lyTcOqgry06c0HpPEz8e03myNZaHpi/view?usp=sharing" target="_blank">Module 1 (pdf)</a></li>
				<li><a href="https://drive.google.com/file/d/1WtJQQUOdvE88nXhTLNfakxnCPK3uXinL/view?usp=sharing" target="_blank">Module 1 (ppt)</a></li>
				<li><a href="https://drive.google.com/file/d/1HjcAhY_ijrM_1FC7eMDhmUCrMAQkbrxF/view?usp=sharing" target="_blank">Module 2 (Fns&Scoping pdf)</a></li>
				<li><a href="https://drive.google.com/file/d/1xqCfM2z4-01mUkqVVHfxH_PTX5_wlm2Z/view?usp=sharing" target="_blank">Module 2 (Fns&Scoping ppt)</a></li>
				<li><a href="https://drive.google.com/file/d/1xqCfM2z4-01mUkqVVHfxH_PTX5_wlm2Z/view?usp=sharing" target="_blank">Module 2 (Files ppt)</a></li>
				<li><a href="https://drive.google.com/file/d/1q0aqJrcpdF5aDiNtQPnY0a0Luj1iWNxy/view?usp=sharing" target="_blank">Module 3 (pdf)</a></li>
				<li><a href="https://drive.google.com/file/d/18brdUKbN0zLaJpb39p2ROt84EXm7Ujn2/view?usp=sharing" target="_blank">Module 3 (ppt)</a></li>
				<li><a href="https://drive.google.com/file/d/1qTyIshaAJ6no9iR1JFx73DbMqXeQUF1I/view?usp=sharing" target="_blank">Module 4 (ppt)</a></li>
			</ul>
		</div>
	</div>

	<hr>

	<div class="dropdown">
		<p>Digital Logic Design</p>
		<div class="dropdown-content">
			<ul>
				<li><a href="https://drive.google.com/file/d/1EGp1WZWu9eaHEPhDfEnh_3z4yTjdJ90z/view?usp=sharing" target="_blank">Module 1</a></li>
				<li><a href="https://drive.google.com/file/d/1gL-ga8REQFUlWMshHinKszjlq5BcMuoR/view?usp=sharing" target="_blank">Module 1 (Numericals)</a></li>
				<li><a href="https://drive.google.com/file/d/1v_vTajBKZQXe9-V102lX5WAOB6VKYUYD/view?usp=sharing" target="_blank">Module 2</a></li>
				<li><a href="https://drive.google.com/file/d/1v_vTajBKZQXe9-V102lX5WAOB6VKYUYD/view?usp=sharing" target="_blank">Module 1 & 2 (Numericals)</a></li>
				<li><a href="https://drive.google.com/file/d/18hFzWQ1vccJSIeEhKjvU0T6EBasAtE6j/view?usp=sharing" target="_blank">Module 3</a></li>
				<li><a href="https://drive.google.com/file/d/1TOBde_Zm0O0lv5NtPJGdcwRIgtH2bbxm/view?usp=sharing" target="_blank">Module 4</a></li>
				<li><a href="https://drive.google.com/file/d/1_fvaTHTdQ0QHsQ_686RNwT-qZMnxJm_Q/view?usp=sharing" target="_blank">Module 4 (ppt)</a></li>
				<li><a href="https://drive.google.com/file/d/1_fvaTHTdQ0QHsQ_686RNwT-qZMnxJm_Q/view?usp=sharing" target="_blank">Module 5</a></li>
			</ul>
		</div>
	</div>

	<hr>

{% endblock content %}